/* You can add global styles to this file, and also import other style files */

.icons {
  text-decoration: none;
}

.button {
  margin: 3px;
}

th td {
  border: 1px solid;
}

.truncate {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  color: white;
  margin-top: 88px;
}